@import "bootstrap/bootstrap-grid";
$primary:	#242424;
$secondary: #F2F2F2;
$tertiary: #F18F01;

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  background: #f9f9f9;
  main {
    width: 100%;
  }
}


.hidden {
  display: none;
}


.header-styles {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}


h1, h2, h3 {
  @extend .header-styles;
  margin-top: 0;
}

.links {
  text-decoration: none;
  font-size: 20px;
  color: white;
  &:hover {
    color: $tertiary;
  }
}


#top {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/windfarm.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  h1 {
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    position: fixed;
  }
}

#about {
  height: 50vh;
  text-align: center;
  .wordsOne {
    h1 {
      font-size: 25px;
      margin-top: 40px;
      }
    }


  .profile-pic {
    background-color: black;
    background-image: url('../assets/images/brighton.jpg');
    -webkit-filter: grayscale(100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
  }

#sectionTwo {
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/laptop.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  .gaSumaryOverlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .gaSumarry {
    position: fixed;
    top: 190px;
    color: white;
    text-align: center;
  }
}


#sectionThree {
  .projoOneImg {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/project-screens/soundboard-main.png');
    transition: filter 0.5s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .projoOneSquare {
    .projoOneIntro {
      width: 66%;
      margin: 160px auto;
      text-align: center;
      padding: 30px;
    }
    .projoOneDesc {
      margin-top: 120px;
      text-align: center;
    }
  }
  h1 {
    span {
      float: left;
    }
  }
}

#sectionFour {
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/cassett-flipped.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  &:hover {
    transition: filter 0.5s;
    -webkit-filter: grayscale(0%);
  }
    .bangerAlertOverlay {
      background-color: rgba(255, 255, 255, 0.3);
      width: 100%;
      height: 100%;
      .projoTwoDesc{
        top: 260px;
        color: black;
        position: fixed;
        font-size: 18px;
      }
    }
}
#sectionFive {
  .projoThreeImg {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/images/project-screens/wabi-sabi-1.png');
    transition: filter 0.5s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .projoThreeSquare {
    .projoThreeIntro {
      margin: 200px auto;
      text-align: center;
      padding: 30px;
    }
    .projoThreeDesc {
      margin-top: 120px;
      h1, p {
        @extend .text-left-styles;
      }
    }
  }
}

#sectionSix {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/project-screens/spotlight-articles.png');
  transition: filter 0.5s;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  .spotlightOverlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    }
    .projoFourDesc {
      position: fixed;
      top: 200px;
      color: white;
    }
}

#tech {
  height: 100vh;
  text-align: center;
  h1 {
    padding-top: 50px;
  }
  i.tech {
    font-size: 3.5em;
    margin: 10px;
  }

  div.skillz {
    text-align: center;
    margin-bottom: 15px;
  }

}


footer {
  background-color: black;
  z-index: 1;
  padding: 10px 0;
  text-align: center;
  color: white;
}


#blackOverlay{
  background-color:#000;
  opacity:0.0;
  position:absolute;
  top:0;width:100%;
  height:100%;
}

#contact {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/images/windfarm.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  div {
    text-align: center;
    position: relative;
    padding: 0 !important;
    a {
      position: absolute;
      display: block;
      @extend .header-styles;
      font-size: 16px;
      text-decoration: none;
      color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &:hover {
        color: black;
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .text-right-styles {
    letter-spacing: 1px;
    text-align: center;
  }
  .text-left-styles {
    // margin-left: 60px;
    text-align: center;
  }

  .up {
    top: 0;
  }
  #about {
    height: 175vh;
  }

  #sectionTwo {
    height: 100vh;
  }
}

//   header {
//     aside {
//       nav {
//         ul {
//           a {
//             font-size: 15px;
//             li {
//               padding: 14px;
//             }
//           }
//         }
//       }
//     }
//   }
//   .navArrows {
//     display: none;
//   }
//   p {
//     font-size: 14px;
//   }
//   .text-left-styles {
//     margin-left: 60px;
//     text-align: center;
//     width: 80%;
//     left: 10%;
//   }
//
//   .text-right-styles {
//     letter-spacing: 1px;
//     text-align: center;
//   }
//
//   %item { //burger
//     width: 40px;
//     height: 6px;
//     margin-bottom: 16px;
//   }
//   .up {
//     top: 0;
//     height: 550px;
//   }
//
//   .down {
//     background-color: rgba(0, 0, 0, 0.2);
//     height: 550px;
//   }
//
//   #top {
//     h1 {
//       font-size: 24px;
//       position: absolute;
//     }
//   }
//   #about {
//     height: 500px;
//     width: 100%;
//   }
//   #sectionTwo {
//     background-attachment: fixed;
//     height: 500px;
//     .gaSumaryOverlay {
//       width: 100%;
//       height: 100%;
//     }
//     .gaSumarry {
//       position: absolute;
//       top: 150px;
//       color: white;
//     }
//   }
//
//   #blackOverlay{
//     display: none;
//   }
//
//   #sectionThree {
//     height: 500px;
//   }
//   #sectionFour {
//     height: 500px;
//     .row {
//       .bangerAlertOverlay {
//         .projoTwoDesc{
//           top: 100px;
//           position: absolute;
//           left: 20%;
//
//
//         }
//       }
//     }
//   }
//
//   #sectionSix {
//     height: 500px;
//     // background-attachment: scroll;
//     .spotlightOverlay {
//       width: 100%;
//       .projoFourDesc {
//         position: absolute;
//         top: 200px;
//         width: 80%;
//       }
//     }
//   }
//
//   #tech {
//     height: 250px;
//     text-align: center;
//     h1 {
//       padding: 24px;
//     }
//     i.tech {
//       font-size: 3em;
//     }
//   }
// }
