@import "bootstrap/bootstrap-grid";
$brand-color: #c99124;

body {
  font-family: 'Karla', sans-serif;
}

.header-styles {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

h1, h2, h3 {
  @extend .header-styles;
  margin-top: 0;
}

#top {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/windfarm.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  h1 {
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 40px;
  background-color: rgba(20,20,20, 0);
  transition: background-color 0.5s ease;
  &.translucent {
    background-color: rgba(20,20,20, 0.6)
  }
  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        float: right;
        margin-left: 20px;
        line-height: 40px;
        &:last-of-type { //overrides the margin left on the rest of the nav as its not needed
          margin-left: 0;
        }
        &.menu {
          color: white;
          cursor: pointer;
          font-size: 20px;
          display: none;
        }
        a {
          color: white;
          @extend .header-styles; //extends allows you to group repeated code in a new class and import it where needed
        }
      }
    }
  }
}

  section {
  text-align: center;
  h2 {
    font-size: 28px;
  }
  .container {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    border-bottom: 2px solid $brand-color;
  }
  &:last-of-type {
    .container {
      border-bottom: 0;
    }
  }
}


#menus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/hero-image.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  a {
    @extend.header-styles;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid $brand-color;
    padding: 5px 10px;
    font-weight: bold;
    color: $brand-color;
    display: inline-block;
    &:hover {
      border-style: dotted;
    }
  }
}

#gallery {
  .image {
    background-position: center;
    background-size: cover;
    &:after {
      content: "";
      padding-bottom: 100%;
      display: block;
    }
    &.image-one {
      background-image: url('../assets/images/image-one.jpg');
    }
    &.image-two {
      background-image: url('../assets/images/image-two.jpg');
    }
    &.image-three {
      background-image: url('../assets/images/image-three.jpg');
    }
  }
}

#location {
  #map {
    height: 300px;
    background-color: grey;
  }
}

footer {
  background-color: rgba(20,20,20, 1);
  padding: 10px 0;
  text-align: center;
  color: white;
}
@media only screen and (max-width: 575px) {
  #gallery {
    .image {
        margin-bottom: 15px;
    }

  }
  #menus {
    a:not(:last-of-type){
      margin-bottom: 5px;
    }
  }
  header {
      // originally height was at 40 but we want it to be auto so that it'll now be the height of its total children
      height: auto;
      nav {
        ul {
          li {
            display: block;
            float: none;
            text-align: right;
            &.menu {
              display: block;
            }
          }
          .dropdown {
            display: none;
          }
        }
      }
    }

}
