@import "bootstrap/bootstrap-grid";
$primary:	#454545;
$secondary: #F2F2F2;
$tertiary: #F18F01;

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  main {
    width: 100%;
  }
}

.hidden {
  display: none;
}

.text-left-styles {
  padding: 6px;
  letter-spacing: 0.04em;
  font-size: 17px;
  line-height: 1.4;
  margin-left: 250px;
  text-align: left;
}

.text-right-styles {
  padding: 6px;
  letter-spacing: 0.04em;
  font-size: 17px;
  line-height: 1.4;
  margin-right: 160px;
  text-align: right;
}

.header-styles {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}


h1, h2, h3 {
  @extend .header-styles;
  margin-top: 0;
}

.links {
  text-decoration: none;
  font-size: 20px;
  color: white;
  &:hover {
    color: $tertiary;
  }
}

.navArrows {
  color: white;
  display: block;
  cursor: pointer;
  margin-top: 20px;
  &:hover {
    color: black;
  }
}
#dark {
  color: black;
  z-index: 5;
  &:hover {
    color: $primary;
  }

}

.up {
  background-color: $primary;
  top: -100px;
  height: 500px;
  z-index: 1;
  color: white;
}

.down {
  background-color: rgba(0, 0, 0, 0.2);
  height: 500px;
  z-index: 1;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 100px;

  $aside-width: 240px;

  %item {
    position: relative;
    width: 80px;
    height: 6px;
    margin-bottom: 14px;
    background-color: #fff;
    border-radius: 3px;
    transition: 0.8s;
  }

  .menu {
    transition: transform 500ms ease 0s;

    &.active {
      transform: translate3d($aside-width, 0, 0);

      & ~ aside {
        transform: translate3d(0, 0, 0);
      }
    }
  }
  .menu__item--1,
  .menu__item--2,
  .menu__item--3 {
    @extend %item;
  }

  aside {
    transform: translate3d(-100%, 0, 0);
    transition: transform 500ms ease 0s;

    width: $aside-width;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    nav {
      width: 100%;
      ul {
        list-style: none;
        a {
          color: white;
          font-size: 24px;
          text-decoration: none;
          width: 100%;
          li {
            width: 100%;
            padding: 20px;
            float: right;
            span {
              float: right;
            }
            &:hover {
              background-color: $tertiary;
              border-radius: 4px;
              color: black;
              opacity: 0.5;
            }
          }
        }
      }
    }
  }


  body {
    background: #f9f9f9;
  }

  // reset button styles
  button {
    border: none;
    background: none;
    outline: 0;
    padding: 50px;
  }
}

#top {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/windfarm.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  h1 {
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    position: fixed;
  }
}

#about {
  height: 400px;
  h1 {
    font-size: 25px;
    margin-top: 30px;
    margin-left: 260px;
    margin-bottom: 35px;
    span {
      font-size: 30px;
      float: right;
      color: white;
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
  }
    p {
    @extend .text-left-styles;
  }
  .profile-pic {
    background-color: black;
    background-image: url('../assets/images/brighton-pier.jpg');
    -webkit-filter: grayscale(100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    div {
      position: absolute;
      bottom: 10px;
      right: 20px;

      h1 {
        span {
          float: right;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

#sectionTwo {
  height: 650px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/laptop.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  .gaSumaryOverlay {
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .gaSumarry {
    position: fixed;
    top: 190px;
    color: white;
    h1, p {
      @extend .text-left-styles;
    }
  }
}


#sectionThree {
  height: 400px;
  .projoOneImg {
    // background: transparent;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/project-screens/soundboard-main.png');
    // -webkit-filter: grayscale(100%);
    transition: filter 0.5s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // &:hover {
    //   transition: filter 0.5s;
    //   -webkit-filter: grayscale(0%);
    // }
  }
  .projoOneSquare {
    .projoOneIntro {
      width: 66%;
      margin: 160px auto;
      text-align: center;
      padding: 30px;
    }
    .projoOneDesc {
      margin-top: 120px;
      h1, p {
        @extend .text-right-styles;
      }
    }
  }
  h1 {
    span {
      float: left;
    }
  }
  .navDiv {
    position: absolute;
    bottom: 20px;
    left: 20px;
    float: left;
    span {
      float: left;

    }
  }

}

#sectionFour {
  height: 650px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/cassett-flipped.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  &:hover {
    transition: filter 0.5s;
    -webkit-filter: grayscale(0%);
  }
  .row {
    .bangerAlertOverlay {
      background-color: rgba(255, 255, 255, 0.3);
      width: 100%;
      height: 155vh;
      .projoTwoDesc{
        top: 260px;
        color: black;
        bottom: 0;
        position: fixed;
        font-size: 18px;
        h1, p {
          @extend .text-right-styles;
        }

      }
    }
  }
}
#sectionFive {
  height: 400px;
  .projoThreeImg {
    // background: transparent;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/images/project-screens/wabi-sabi-1.png');
    transition: filter 0.5s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .projoThreeSquare {
    .projoThreeIntro {
      margin: 200px auto;
      text-align: center;
      padding: 30px;
    }
    .projoThreeDesc {
      margin-top: 120px;
      h1, p {
        @extend .text-left-styles;
      }
    }
  }
  span {
    float: right;

  }
  .navDiv {
    position: absolute;
    bottom: 20px;
    right: 20px;
    span {
      float: right;

    }
  }
}

#sectionSix {
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/project-screens/spotlight-articles.png');
  transition: filter 0.5s;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  .spotlightOverlay {
    width: 50%;
    height: 100%;
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.8);
    .vDiv {
      position: absolute;
      bottom: 20px;
      right: 52%;
      span {
        float: right;

      }
    }
    .projoFourDesc {
      position: fixed;
      top: 200px;
      color: white;
      h1, p {
        @extend .text-left-styles;
      }
    }
  }
}

#tech {
  height: 550px;
  text-align: center;
  h1 {
    padding: 50px;
  }
  i.tech {
    font-size: 6em;
    margin: 10px;
  }

  div.skillz {
    text-align: center;
    margin-bottom: 15px;
  }
  .vDiv {
    margin-left: -90px;
  }

}


footer {
  background-color: black;
  z-index: 1;
  padding: 10px 0;
  text-align: center;
  color: white;
}


#blackOverlay{
  background-color:#000;
  opacity:0.0;
  position:absolute;
  top:0;width:100%;
  height:100%;
}

#contact {
  height: 700px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/images/windfarm.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  div {
    a {
      @extend .header-styles;
      text-decoration: none;
      font-size: 36px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      color: white;
      position: fixed;
      &:hover {
        color: black;
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  header {
    aside {
      nav {
        ul {
          a {
            font-size: 15px;
            li {
              padding: 14px;
            }
          }
        }
      }
    }
  }
  .navArrows {
    display: none;
  }
  p {
    font-size: 14px;
  }
  .text-left-styles {
    margin-left: 60px;
    text-align: center;
    width: 80%;
    left: 10%;
  }

  .text-right-styles {
    letter-spacing: 1px;
    text-align: center;
  }

  %item { //burger
    width: 40px;
    height: 6px;
    margin-bottom: 16px;
  }
  .up {
    top: 0;
    height: 550px;
  }

  .down {
    background-color: rgba(0, 0, 0, 0.2);
    height: 550px;
  }

  #top {
    h1 {
      font-size: 24px;
      position: absolute;
    }
  }
  #about {
    height: 500px;
    width: 100%;
  }
  #sectionTwo {
    background-attachment: fixed;
    height: 500px;
    .gaSumaryOverlay {
      width: 100%;
      height: 100%;
    }
    .gaSumarry {
      position: absolute;
      top: 150px;
      color: white;
    }
  }

  #blackOverlay{
    display: none;
  }

  #sectionThree {
    height: 500px;
  }
  #sectionFour {
    height: 500px;
    .row {
      .bangerAlertOverlay {
        .projoTwoDesc{
          top: 100px;
          position: absolute;
          left: 20%;


        }
      }
    }
  }

  #sectionSix {
    height: 500px;
    // background-attachment: scroll;
    .spotlightOverlay {
      width: 100%;
      .projoFourDesc {
        position: absolute;
        top: 200px;
        width: 80%;
      }
    }
  }

  #tech {
    height: 250px;
    text-align: center;
    h1 {
      padding: 24px;
    }
    i.tech {
      font-size: 3em;
    }
  }
}
