@import "bootstrap/bootstrap-grid";
$primary:	#225BA8;
$secondary: #183059;
$tertiary: #93C1F2;

body {
  font-family: 'Karla', sans-serif;
}

.hidden {
  display: none;
}

.header-styles {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

h1, h2, h3 {
  @extend .header-styles;
  margin-top: 0;
}
p{
  font-size: 20px;
}

.up {
  background-color: $primary;
  top: -100px;
  height: 400px;
  z-index: 1;
  color: white;


}

.down {
  background-color: $secondary;
  height: 400px;
  z-index: 1;
  color: white;

}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 40px;
  background-color: rgba(20,20,20, 0);
  transition: background-color 0.5s ease;
  &.translucent {
    background-color: rgba(20,20,20, 0.6)
  }
  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        float: right;
        margin-left: 20px;
        line-height: 40px;
        &:last-of-type { //overrides the margin left on the rest of the nav as its not needed
          margin-left: 0;
        }
        &.menu {
          color: white;
          cursor: pointer;
          font-size: 20px;
          display: none;
        }
        a {
          color: white;
          @extend .header-styles; //extends allows you to group repeated code in a new class and import it where needed
        }
      }
    }
  }
}

#top {
  height: 115vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/windfarm.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  h1 {
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}

#about {
  height: 200px;
}


  section {
  text-align: center;
  h2 {
    font-size: 28px;
  }
  .container {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
  }
  &:last-of-type {
    .container {
      border-bottom: 0;
    }
  }
}


#projosSection {
  height: 350vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/laptop.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -5;
  position: relative;
  .projosIndex {
    position: fixed;
    width: 66%;
    top: 200px;
    color: white;
  }

  #projos {
    position: absolute;
    bottom: 0;
    .projoOne {
      background-color: $primary;
    }
    .projoOnepic {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/project-screens/project-1-screen.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 500px;
    }
    .projoTwo {
      background-color: $secondary;
    }
  }
}




footer {
  background-color: rgba(20,20,20, 1);
  padding: 10px 0;
  text-align: center;
  color: white;
}



@media only screen and (max-width: 575px) {
  #about {
    .image {
        margin-bottom: 15px;
    }

  }
  #projos {
    a:not(:last-of-type){
      margin-bottom: 5px;
    }
  }
  header {
      // originally height was at 40 but we want it to be auto so that it'll now be the height of its total children
      height: auto;
      nav {
        ul {
          li {
            display: block;
            float: none;
            text-align: right;
            &.menu {
              display: block;
            }
          }
          .dropdown {
            display: none;
          }
        }
      }
    }

}
